
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

line.controlLine {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#competitorList
{
    overflow-y: scroll;
    height: 100%;
}

#competitorListContainer
{
    float: left;
}

#chart
{
    float: left;
}

div.competitor
{
    font: 12px sans-serif;
    padding: 2px;
}

div.competitor.selected 
{
    background-color: #286880;
    color: white;
}

#statisticSelector
{
    float: right;
}

#statisticSelector label
{
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 10px;
}

#statisticSelector input
{
    vertical-align: middle;
}

#resultsTableContainer
{
    padding-top: 10px;
}

.resultsTable
{
    border-spacing: 6px;
}

span.resultsTableHeader
{
    font: 14px sans-serif;
    font-weight: bold;
}

.resultsTable thead th
{
    font: 12px sans-serif;
    font-weight: bold;
}

.resultsTable tbody td
{
    font: 12px sans-serif;
}

.resultsTable tbody td.time
{
    text-align: right;
}